body {
font-family: Verdana;
background-color:rosybrown;
    text-align: center;
    margin: 0 auto;

   
}

#cabecera {
    background-color: #E9BCBC;
    padding: 1% 0 2% 0;
    border: #E9BCBC outset 2px  
}

h1 {
    color: white;

}

.practicas {
    margin: 2% 0;
}

.practicas p {
    visibility: hidden;
}

.practicas a{
color: white;
font-weight: bold;
}

.practicas:hover > p {
    visibility: visible;
}

p {
    color: white;
    background-color: #E9BCBC;
        border: #E9BCBC outset 2px;
    margin: -1px auto;
    width: 50%
}