body {
    font-family: Verdana;
    margin: 0;
}

#encabezado {
    height: 100vh;
    background-image: url(img/fondo.jpg);
    background-size: cover;
    padding: 20vw;
}

#menu {
    padding: 20px 0 0 300px;
}

ul.enlaces li {
    display: inline-block;
    padding: 0 40px 0 0;
    
}


#tituloSubtitulo {
    padding: 0 0 80px 300px;
}

#cuerpo {
    padding: 0 0 200px 300px;
    max-width: 700px;
}

#lista {
    padding: 0 0 200px 300px;
}

h1 {
    font-weight: lighter;
    font-size: 30pt;
    line-height: 65px;
    max-width: 700px
}

h2 {
    color: lightgray;
    font-size: 15pt;
    line-height: 35px;
}

p {
    font-size: 20pt;
    font-weight: lighter;
}

#pieDePagina {
    background-color: #22201F;
    padding-left: 300px;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
}

ul.redirecciones {
    color: white;
    font-size: 15pt;
    line-height: 40pt;
    padding: 100px 0;
}

#menuSticky {
    background-color: black;
    margin-bottom: -15px;
    position: sticky;
    top: 0;
    width: auto;
    height: 40px;
    padding: 4px 0 4px 0;
}

#menuSticky li {
    display: inline;
    color: white;
    float: left;
    margin: 0 15px 0 2px;
}

a:link {
    color: lightgray;
    text-decoration: none;
}

a:visited {
    color: lightgray;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a[href="#"]:hover {
    text-decoration: line-through;
}

.sticky {
    display: block;
}


