* { box-sizing: border-box; }
body {
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    background-color: beige;
}

.color {
    color: burlywood;
    font-size: bold;
}



header {
    text-align: center;
    margin: 3vw auto;
}

header img {
    max-width: 10vw;
    margin-bottom: 3vw;
}

h1{
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
}

.contenido {
    
    display: flex;
    flex-direction: row;
}

.menu{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.enlaceMenu {
    border: outset 2px;
    background-color: bisque;
    width: 70%;
    height: 3vw;
       
}

.enlaceMenu a{
    padding: 0.5vw;
    display: block;
    color: burlywood;
    text-align: center;
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace; 
}

.centro {
    flex: 4;
    margin: 0 4vw;
    padding-left: 1vw;
    box-sizing: content-box;
    background-color: white;
}

.derecha {
    flex: 3;
    padding-right: 3vw;
}

.derecha h3{
    margin: 0;
}


@media (max-width: 320px) {
    * {
        flex: 1;
    }
    
    header img {
    max-width: 40vw;
}
    
    .contenido {
        flex-direction: column;
    }
    
    .menu {
        margin: auto 2vw 3vw 2vw;
        flex-direction: row;
    }
    
    .enlaceMenu {
        height: 8vw;
    }
    
   
    
    .centro {
        margin: 3vw 3vw 5vw 3vw;
        
    }
    
    .derecha {
        margin: 1vw auto auto auto;
        max-width: 70%;
    }
    
}

@media (max-width: 568px) {
    header img {
    max-width: 20vw;
}
    
    h1{ font-size:  19pt;}
    .derecha {
        font-size: 8pt;
    }
    
    .menu {
        font-size: 6pt;
    }
    
    .enlaceMenu {
        max-width: 100%;
        padding-right: 9vw;
        height: 5vw;
    }
    
    
}

@media (max-width: 768px) {
    header img {
    max-width: 20vw;
}
    
    .contenido {
        flex-direction: column;}
    
    .enlaceMenu {
        height: 6vw;
        padding:0 5vw 1.2vw 0;
    }
    
     .menu {
        margin: auto 2vw 3vw 2vw;
        flex-direction: row;
    }
    
    .derecha {
        margin: 1vw auto auto auto;
        max-width: 70%;
    }
}

@media (max-width: 1024px) {
     header img {
    max-width: 15vw;
}
    .enlaceMenu {
        width:85%;
    }
}


