body {margin: 0;}
div {
    box-sizing: border-box;
}
#logo {
    background-color: beige;
    height: 10vh;
    
    
}


#menu {
    background-color: aqua;
   
}

#menu2 {
    background-color: aqua;
    height: 80vh;
    
}


#content {
    background-color: bisque;
    height: 80vh;
    overflow: auto;
}

#publicity {
background-color: blue;
   height: 80vh;
    margin: 0;
}

#publicity2 {
background-color: blue;
   height: 100vh;
    margin: 0;
}


#pie {
    background-color: greenyellow;
    height: 10vh;
}

p {
    margin: 2%;
}



.listaIndice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}



@media (max-width: 320px) {
    #menu {
        height: 4vh;
    }
    
    #menu2 {
        height: 4vh;
    }
    
    #publicity {
        height: 30vh;
    }
}

@media (max-width: 568px) {
    #menu {
        height: 8vh;
    }
    #menu2 {
        height: 8vh;
    }
    
 
    publicity {
        height: 30vh;
    }
 
}