body {
    margin: 0 0 0 0;
    font-family: Verdana;
    background-color: black;
}

header {
    margin: 4% 35% 0 35%;
}

h1 {
    text-align: center;
    color: white;
    border-top-color: white;
    border-top: solid 3px;
    ;
    border-bottom-color: white;
    border-bottom: solid 3px;
    ;
}

h2 {
    color: white;
    margin: 0 0 2% 2%;
}

h3 {
    color: white;
    text-align: right;
    margin: -2% 0 0 0;
    padding: 0 10% 0 0;
}

#imagenes {
    margin: 6% 0 0 0
}

img {
    width: 33%;
    height: auto;
    filter: saturate(0);
}

.imagenGaleria:hover img {
    filter: saturate(1);
}
