* {
    box-sizing: border-box
}

body {
    
}

.tagLine {
    font-size: 17pt;
    margin: 6vh 0 0 0;
    color: #00a82e;
    text-align: center;
}

nav {
    padding: 4vh 0 3vh 0;
    border-bottom: solid 1pt #cccccc
}

#barra {

    align-items: center;
    align-content: center;
    justify-content: space-between;
}

#logo {
    max-width: 60%;
    padding-bottom: 4vh
}


ul li {
    list-style: none;

}

section {
    margin-top: 10vh;
    align-items: center;
    padding-bottom: 10vh;
    border-bottom: solid 1pt #cccccc
}

#texto h1 {
    color: cornflowerblue;
}

#texto {
    font-size: 15pt;

    padding-bottom: 20vh;
}

#botonesTexto {
    margin-top: 4vh;
}

#boton1 {


    border: outset 1px;
    border-radius: 15px;
}

#boton1 a {
    display: inline-block;
    text-decoration: none;
    color: black;
    text-align: center;
}

#boton2 {}

#boton2 a {
    text-decoration: none;
    color: black;
    text-align: center;
}


.divisor {display: none}

#menu a {
    color: #00a82e;
    text-decoration: none;
}


#usuario a {
    color: #00a82e;
    text-decoration: none;
}

#galeria {
    padding-bottom: 10vh;
    border-bottom: solid 1pt #cccccc;

}

.container {
    margin-top: 10vh;
}

footer {
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-bottom: 20vh;
}

@media (min-width: 1024px) {
    #menu li{
        display: inline;
    }
    .divisor {
       display: inherit;
    }
    
    #logo {
    max-width: auto;
    padding-bottom: 0;
}

}